<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Blog</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#home">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><input type="text"></li>
      <li><input type="submit" value="Search"></li>
    </ul>
  </div>
</nav>
